.campspot {
  text-align: center;
}

.campspot-logo {
  height: 50px;
}

.campspot-header {
  background-color: #34485d;
  height: 50px;
  padding: 20px;
  color: white;
}

.campspot-title {
  font-size: 1.5em;
}

.campspot-intro {
  font-size: large;
}

.campsite-container {
    display: flex;
    height: 50px;
    width: 100%;
    border-right: 0;
    border-bottom: 1px #34485d solid;
}

.campsite-name {
    padding: 15px;
    font-size: 15px;
    border-right: 1px #1ab063 solid;
    width: 20%;
    position: relative;
}

.campsite-reservations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.reservation-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 15vw;
    background: #f4f4f4;
    text-align: center;
    opacity: .6;
    transition: opacity 250ms ease;
}
.reservation-dates:hover {
    opacity: 1;
}

.search-query {
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    background: #23313f;
    color: white;
}

.search-query-reservation {
    opacity: 1;
    background: #30cd6fcc;
}
